#cotainer{
    display: flex; /*Tornar a coluna flexivel*/
    /*flex-direction: column-reverse; Direção da coluna*/
    flex-wrap: wrap-reverse;
    /*flex-flow: column wrap; junção de Flex-direction e flex-wrap*/
    justify-content: space-evenly;
}

.item1{
    background-color: hsl(209, 59%, 41%);
    width: 60px;
    height: 40px;
}

.item2{
    background-color: #555;
    width: 60px;
    height: 40px;
}

.item3{
    background-color: brown;
    width: 60px;
    height: 40px;
}